body {
    background-color: #18171F;
    color: #B9B6C2;
    font-family: Arial, sans-serif;
}
header{
    text-align: right;
    font-size: 20px;
}
h1,h2,h3,h4,h5,h6 {
    font-family: Georgia, serif;
    color: #F4F1F1 ;
}
a{
    color: #9C87BC;
}
title{
    color: #8D8997 ;
}
textarea , input {
    background-color:#18171F ;
}
img {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
p{
    margin: 20px;
}
#Title1 {
    text-align: left;
    padding-right: 10px;
}