body{
    background-color: black;
    color : #fff ;

}
div{
    padding: 20px;
}
.flex-parent{
    background-color: white; 
    display: flex;
    gap : 10px ;
    flex-direction : row ;
    flex-wrap: wrap;
}
.flex-child{
    background-color: brown;
}